body {
	
}

#jumbo {
	    background-image: linear-gradient(73deg,#e646b6,#6157ff);
}

#add-mood {
	background-image: linear-gradient(73deg,#e646b6,#6157ff);
	color: white;
}

.display-4, .lead {
	color: white;
}

.display-4 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 80px;
}

.lead, #moodbar {
	font-family: 'Yantramanav', sans-serif;
	font-size: 30px;
}

#moodbar {
	font-size: 30px;
	font-family: 'Archivo Black', sans-serif;
}

